<div style="padding: 2rem 7rem 2rem 2rem; display:inline-flex; gap: 20px;">

  <!--  FILTERED CURVES -->
  <!--  <app-graph [data]="dataTemplate" [options]="graphOptions"></app-graph>-->
  <div>
    <h3>Force-Displacement</h3>
    <p-chart type="line"
             width="80vh"
             height="80vh"
             #displacementForceFilteredChartMultiple
             [data]="displacementForceFilteredDataMultiple"
             [options]="graphOptions">
    </p-chart>
    <!-- Slide Through Graph -->
    <p-chart type="line"
             width="80vh"
             height="80vh"
             #displacementForceFilteredChartSingle
             [data]="displacementForceFilteredDataSingle"
             [options]="graphOptions">
    </p-chart>
  </div>

  <div>
    <h3>Force-Indentation</h3>
    <p-chart type="line"
             width="80vh"
             height="80vh"
             #indentationForceChartMultiple
             [data]="indentationForceDataMultiple"
             [options]="graphOptions">
    </p-chart>
    <!-- Slide Through Graph -->
    <p-chart type="line"
             width="80vh"
             height="80vh"
             #indentationForceChartSingle
             [data]="indentationForceDataSingle"
             [options]="graphOptions">
    </p-chart>
  </div>

  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="40vh"-->
  <!--             height="40vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--    <p-multiSelect [options]="datasets" (onChange)="reloadChart()" [(ngModel)]="selectedDatasets" optionLabel="name"-->
  <!--                   defaultLabel="Select Dataset"></p-multiSelect>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="40vh"-->
  <!--             height="40vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="40vh"-->
  <!--             height="40vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
  <!--</div>-->

  <!--<div style="padding: 2rem 7rem 2rem 2rem; display:inline-flex; gap: 20px;">-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="40vh"-->
  <!--             height="40vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="40vh"-->
  <!--             height="40vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="40vh"-->
  <!--             height="40vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
</div>
