<div style="padding: 2rem 2rem 0 2rem; display:inline-flex; gap: 20px">

  <!--  FILTERED CURVES -->
  <!--  <app-graph [data]="dataTemplate" [options]="graphOptions"></app-graph>-->
  <div>
    <h3>Force-Displacement</h3>
    <p-chart type="line"
             width="39vh"
             height="39vh"
             #displacementForceFilteredChartMultiple
             [data]="displacementForceFilteredDataMultiple"
             [options]="graphOptions">
    </p-chart>


    <!-- Slide Through Graph -->
    <p-chart type="line"
             width="39vh"
             height="39vh"
             #displacementForceFilteredChartSingle
             [data]="displacementForceFilteredDataSingle"
             [options]="graphOptions">
    </p-chart>
  </div>

  <div>
    <h3>Force-Indentation</h3>
    <p-chart type="line"
             width="39vh"
             height="39vh"
             #indentationForceChartMultiple
             [data]="indentationForceDataMultiple"
             [options]="graphOptions">
    </p-chart>
    <!-- Slide Through Graph -->
    <p-chart type="line"
             width="39vh"
             height="39vh"
             #indentationForceChartSingle
             [data]="indentationForceDataSingle"
             [options]="graphOptions">
    </p-chart>
  </div>

  <div>
    <h3>Elasticity-Spectra</h3>
    <p-chart type="line"
             width="39vh"
             height="39vh"
             #elSpectraChartMultiple
             [data]="elSpectraDataMultiple"
             [options]="graphOptions">
    </p-chart>
    <!-- Slide Through Graph -->
    <p-chart type="line"
             width="39vh"
             height="39vh"
             #elSpectraChartSingle
             [data]="elSpectraDataSingle"
             [options]="graphOptions">
    </p-chart>
  </div>

  <p-button (click)="showErrorDialog('hello')" icon="pi pi-external-link" label="Show"></p-button>
  <p-dialog header="Header" [(visible)]="displayError" [modal]="true" [style]="{width: '50vw'}"
      [draggable]="false" [resizable]="false">
      <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <ng-template pTemplate="footer">
          <p-button icon="pi pi-check" (click)="displayError=false" label="Ok" styleClass="p-button-text"></p-button>
          </ng-template>
  </p-dialog>

  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="39vh"-->
  <!--             height="39vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--    <p-multiSelect [options]="datasets" (onChange)="reloadChart()" [(ngModel)]="selectedDatasets" optionLabel="name"-->
  <!--                   defaultLabel="Select Dataset"></p-multiSelect>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="39vh"-->
  <!--             height="39vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="39vh"-->
  <!--             height="39vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
  <!--</div>-->

  <!--<div style="padding: 2rem 7rem 2rem 2rem; display:inline-flex; gap: 20px;">-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="39vh"-->
  <!--             height="39vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="39vh"-->
  <!--             height="39vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="39vh"-->
  <!--             height="39vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
</div>
