<div style="padding: 2rem 7rem 2rem 2rem; display:inline-flex; gap: 20px;">

  <!--  FILTERED CURVES -->
  <!--  <app-graph [data]="dataTemplate" [options]="graphOptions"></app-graph>-->


  <p-chart type="line"
           width="40vh"
           height="40vh"
           #chart
           [data]="dataTemplate"
           [options]="graphOptions">
  </p-chart>

  <button (click)="test()">TEST</button>

  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="40vh"-->
  <!--             height="40vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--    <p-multiSelect [options]="datasets" (onChange)="reloadChart()" [(ngModel)]="selectedDatasets" optionLabel="name"-->
  <!--                   defaultLabel="Select Dataset"></p-multiSelect>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="40vh"-->
  <!--             height="40vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="40vh"-->
  <!--             height="40vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
  <!--</div>-->

  <!--<div style="padding: 2rem 7rem 2rem 2rem; display:inline-flex; gap: 20px;">-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="40vh"-->
  <!--             height="40vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="40vh"-->
  <!--             height="40vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <p-chart type="line"-->
  <!--             width="40vh"-->
  <!--             height="40vh"-->
  <!--             #chart-->
  <!--             [data]="basicData"-->
  <!--             [options]="basicOptions">-->
  <!--    </p-chart>-->
  <!--  </div>-->
</div>
