<p-accordionTab header="Download CSV" [disabled]="disabled">

  <div class="mb-3">
    <p-dropdown [options]="graphOptions" [(ngModel)]="selectedGraph" optionLabel="name"></p-dropdown>
  </div>
  <div class="mb-3">
    <p-dropdown [options]="graphSingle" [(ngModel)]="selectedSingle" optionLabel="name"></p-dropdown>
  </div>
  <div>
    <button pButton type="button" label="Download" (click)="download()"></button>
  </div>
</p-accordionTab>


<p-accordionTab header="Download Settings" [disabled]="disabled">
  <button pButton type="button" label="Download Force-Displacement" (click)="downloadSet()"></button>
</p-accordionTab>
