<div class="sidenav" style="overflow-y: scroll">

  <p-accordion [multiple]="true">

    <!-- Files Tab -->
    <app-files-tab></app-files-tab>

    <!-- Filtering Tab -->
    <app-filters-tab></app-filters-tab>

    <!-- Contact Point Tab -->
    <app-contact-point-tab></app-contact-point-tab>

    <!-- Force-Ind Tab -->
    <app-force-ind-tab></app-force-ind-tab>

    <!-- Elasticity-Spectra Tab -->
    <app-elisticity-spectra-tab></app-elisticity-spectra-tab>

    <!-- Upload Code Tab -->
    <app-custom-code-tab></app-custom-code-tab>

  </p-accordion>
</div>
