<p-accordionTab header="Force-Ind">
  <div style="border: 1px solid #383838; border-radius: 5px; padding: 12px">
    <p-dropdown [showClear]="true" placeholder="Select Shape" [options]="indShapes" [(ngModel)]="selectedIndShape"
                optionLabel="name"></p-dropdown>
    <br><br><h5>Force-Ind Minimum</h5>
    <p-inputNumber [(ngModel)]="forceIndMin" [showButtons]="true"
                   buttonLayout="horizontal"
                   spinnerMode="horizontal"
                   decrementButtonClass="p-button-primary"
                   incrementButtonClass="p-button-primary"
                   incrementButtonIcon="pi pi-plus"
                   decrementButtonIcon="pi pi-minus">
    </p-inputNumber>
    <br>
    <h5>Force-Ind Maximum</h5>
    <p-inputNumber [(ngModel)]="forceIndMax" [showButtons]="true"
                   buttonLayout="horizontal"
                   spinnerMode="horizontal"
                   decrementButtonClass="p-button-primary"
                   incrementButtonClass="p-button-primary"
                   incrementButtonIcon="pi pi-plus"
                   decrementButtonIcon="pi pi-minus">
    </p-inputNumber>
  </div>
</p-accordionTab>
