@use 'variables' as *;
@import "/node_modules/primeflex/primeflex.css";

body {
  margin: 0;
}

.sidenav {
  width: $sidenav-width;
  background: #1e1e1e;
  box-shadow: $shadow;
  height: 100vh;

  .p-inputnumber-input {
    width: 175px;
    height: 35px;

    text-align: center;

  }

  .p-multiselect {
    width: 248px !important;
  }

  .p-inputnumber-buttons-horizontal {
    height: 35px !important;
    width: 35px !important;

    span {
      font-size: 0.75rem;
    }

    .p-button {
      width: 35px !important;
    }
  }


  .p-accordion-content {
    padding: 12px !important;
  }
}

.content {
  width: calc(100% - 300px); /* 240px -> sidenav width  -> using scss variable does not work for calc*/
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
