<div class="sidenav">

  <p-accordion [multiple]="true">
    <!-- Files Tab -->
    <p-accordionTab header="Files">
      <h4 class="mt-2">Upload a File</h4>
      <p-fileUpload (uploadHandler)="uploadHandler($event)"
                    mode="basic"
                    [auto]="true"
                    [customUpload]="true"
                    chooseLabel="Upload File"
                    name="myfile[]"
                    pTooltip="Upload your .txt file containing your nano-indentation data"
                    tooltipPosition="right"></p-fileUpload>
    </p-accordionTab>
    <p-accordionTab header="Files - Raw">
      <h4 class="mt-2">Upload a JPK-Force-Map file</h4>
      <p-fileUpload (uploadHandler)="uploadrawHandler($event)"
                    mode="basic"
                    [auto]="true"
                    [customUpload]="true"
                    chooseLabel="Upload raw File"
                    name="myfileRaw[]"
                    pTooltip="Upload your raw file containing your nano-indentation data"
                    tooltipPosition="right"></p-fileUpload>
    </p-accordionTab>
    <!-- Filtering Tab -->
    <p-accordionTab header="Filtering">
      <div style="border: 1px solid #383838; border-radius: 5px; padding: 12px">
        <div class="flex flex-row">
          <p-inputSwitch [(ngModel)]="useProminency" class="mr-2"></p-inputSwitch>
          <h4 pTooltip="Prominency is the (Insert tooltip for prominency because I'm still not entirely sure what it does)"
          class="m-0 mt-1">Use Prominency</h4>
        </div>

        <ng-container *ngIf="useProminency">
          <!--      PROMINENCY -->
          <h5>Prominency [a.u.]</h5>

          <p-inputNumber [(ngModel)]="prominency" [showButtons]="true"
                         buttonLayout="horizontal"
                         spinnerMode="horizontal"
                         decrementButtonClass="p-button-primary"
                         incrementButtonClass="p-button-primary"
                         incrementButtonIcon="pi pi-plus"
                         decrementButtonIcon="pi pi-minus">
          </p-inputNumber>

          <!--      MIN FREQUENCY -->
          <h5 class="mt-2">Min Freq [channels]</h5>

          <p-inputNumber [(ngModel)]="minFrequency" [showButtons]="true"
                         buttonLayout="horizontal"
                         spinnerMode="horizontal"
                         decrementButtonClass="p-button-primary"
                         incrementButtonClass="p-button-primary"
                         incrementButtonIcon="pi pi-plus"
                         decrementButtonIcon="pi pi-minus">
          </p-inputNumber>

          <!--      BAND -->
          <h5 class="mt-2">Band [% preak pos]</h5>

          <p-inputNumber [(ngModel)]="band" [showButtons]="true"
                         buttonLayout="horizontal"
                         spinnerMode="horizontal"
                         decrementButtonClass="p-button-primary"
                         incrementButtonClass="p-button-primary"
                         incrementButtonIcon="pi pi-plus"
                         decrementButtonIcon="pi pi-minus">
          </p-inputNumber>
        </ng-container>

      </div>

      <div style="border: 1px solid #383838; border-radius: 5px; padding: 12px; margin-top: 12px">
        <p-multiSelect [options]="filters" [(ngModel)]="selectedFilters" optionLabel="name"
                       defaultLabel="Other Filters"></p-multiSelect>

        <ng-container *ngFor="let filter of selectedFilters">



          <h4 class="mt-4">{{filter.name}}</h4>

          <div *ngFor="let input of filter.inputs">
            <h5 class="mt-2">{{input}}</h5>
            <p-inputNumber [showButtons]="true"
                           buttonLayout="horizontal"
                           spinnerMode="horizontal"
                           decrementButtonClass="p-button-primary"
                           incrementButtonClass="p-button-primary"
                           incrementButtonIcon="pi pi-plus"
                           decrementButtonIcon="pi pi-minus">
            </p-inputNumber>
          </div>
        </ng-container>
      </div>

      <div style="border: 1px solid #383838; border-radius: 5px; padding: 12px; margin-top: 12px" >
        Filter-Select
        <mat-slider min="1" max="10" step="0.5" value="1.5">
          <input matSliderThumb>
        </mat-slider>
      </div>
    </p-accordionTab>
    <!-- Contact Point Tab -->
    <p-accordionTab header="Contact Point">
      Contact Point
    </p-accordionTab>
    <!-- Other Tab -->
    <p-accordionTab header="Upload Custom Code">
      <h5>Python Interpreter</h5>
      <form>
        
        <textarea pInputTextarea [rows]="5" [cols]="30" #pythonCode></textarea>
        <button pButton type="button" label="Run Interpreter" (click)="runCode(pythonCode.value)"></button>
      </form>
    </p-accordionTab>
  </p-accordion>

</div>
