<div *ngIf="processorService.pyodideInitalized$|async else dashboard"
     class="flex justify-content-center align-items-center"
     style="width: 100vw; height: 100vh">

  <div class="flex flex-column justify-content-center align-items-center">
    <p-progressSpinner></p-progressSpinner>
    <div class="text-center" [innerHTML]="processorService.pyodideInitializationStatus"></div>
  </div>

</div>

<ng-template #dashboard>

  <div class="flex flex-row" style="overflow-x: hidden">

    <app-sidenav></app-sidenav>

    <div *ngIf="processorService.pyodideLoading$|async else graphs"
         class="flex justify-content-center align-items-center"
         style="width: 100vw; height: 100vh">

      <div class="flex flex-column justify-content-center align-items-center">
        <p-progressSpinner></p-progressSpinner>
        <div class="text-center">Calculations running...</div>
      </div>

    </div>

    <ng-template #graphs>
      <app-graphs class="w-full h-full"></app-graphs>
    </ng-template>

  </div>

</ng-template>
